* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
}

/* loading */

.picachu {
  align-items: center;
  justify-content: center;
}

.Dowload {
  text-align: center;
  font-size: 3rem;

}


/* home */

.textPokedex {
  display: flex;
  justify-content: center;
}



.title {
  text-align: center;
  color: #FE1936;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  padding: 0px;
}

.phrase {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}

.contenedor-input {
  position: absolute;
  height: 123.18px;
  top: 580px;
  background: #DD1A1A;
  border-bottom: 30px solid #000;
  width: 100vw;
}



/* Pokemon card*/

.welcom {
  color: #FE1936;
  background: #000;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  padding: 0px;
}

.containerGeneral2{
text-align: center;
padding: 10px;

}

.inputPokede {
  text-align: center;
  width: 622px;
  height: 68px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  font-size: 23px;
}


.butoonPokedex {
  position: absolute;
  font-size: 20px;
  width: 209.21px;
  height: 68px;
  color: aliceblue;
  border-radius: 3px;
  cursor: pointer;
  background: #D93F3F;
}

.Containergeneralpokedex{
  background: #D93F3F;
  border: 52px;
  
}
.buttonback{
align-items: center;
text-align: center;
justify-content: center;
height: 52px;
padding: 45px;
}
.general1{
background: #7EC6C5;
 
}


.typepokedex {

  width: 622px;
  height: 68px;
  background: #fffffff8;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  font-size: 23px;
}


.ulpokedex {
  text-align: center;
list-style: none;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  justify-content: center;
}


/*
---------------------------
*/

.card {
  width: 250px;
  height: 300px;
  background: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  padding: 1em;
  margin-bottom: 20px;
  border-radius: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.imag {
  width: 50%;
  margin: 0 auto;


}

/*---------pokedexDetail------- */
.fondo {
  background-image: url(./assets/imag/fondo.png);
}

.containerDetail {
  justify-items: center;
align-items: center;
  position: absolute;
  width: 1116px;
  height: 980px;
  left: 162px;
  top: 220px;
  border-top: 160px solid #7EC6C5;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

}

.id {
text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  align-items: center;
  color: #416460;
  padding: 15px;

}

.titleDetail {
text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  align-items: center;
  color: #416460;

}

.imagcontainer{
  width: 50%;
  margin: 0 auto;
}

.imagDetail {
text-align: center;


}

.weigth{
  font-size: 35px;
  padding: 34px;
  text-align: center;
  
}


/*-----------------*/
.App {
  background-image: url(./assets/imag/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}



.containerInputgeneral {
  background: #ffffff;

}


/*  inpuName */

.containerInputName {
  width: 80%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.input {
  text-align: center;
  width: 622px;
  height: 68px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  font-size: 23px;

}

.button-input {
  width: 209.21px;
  height: 68px;
  color: aliceblue;
  border-radius: 3px;
  cursor: pointer;
  background: #D93F3F;
 
}





/* ---------------*/








.header2 {
  background: red;
  border-bottom: 30px solid #000;
  width: 100vw;

}

.butonprogres{
text-align: center;
justify-content: center;
border-radius:50%;



}

.butonback{
background: #D93F3F;
font-size: 2rem;
padding: 15px;
border-radius: 5px;

}

.butoninit{
  font-size: 2rem;
  padding: 15px;
border-radius: 5px;
}


.containerbuttonFooter{
  text-align: center;
  justify-content: center;
  align-items: center;

}
.pagination_numbers{
  font-size: 30px;
  background: #D93F3F;
  color: #FFFFFF;
}

.btn-back{
  font-size: 30px;
  background: #D93F3F;
  color: #FFFFFF;
}

.btn-next{
  font-size: 30px;
  background: #D93F3F;
  color: #FFFFFF;
}