* {
  padding: 0;
  text-align: center;
  box-sizing: border-box;

}


/* este es el home del input */
.title {
  color: #FE1936;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  padding: 0px;
}

.phrase {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}

.input {

  width: 622px;
  height: 68px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  font-size: 23px;

}

.button-input {
  position: absolute;
  width: 209.21px;
  height: 68px;
  color: aliceblue;
  border-radius: 3px;
  cursor: pointer;
  background: #D93F3F;
}

.contenedor-input {
  position: absolute;
  width: 1420px;
  height: 123.18px;
  top: 580px;
  background: #DD1A1A;
  border-bottom: 30px solid #000;
}


/*----------------------------------------------*/
/* Pokemon card*/

.col {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.card {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  padding: 1em;
  margin-bottom: 20px;
  border-radius: 10px;
  list-style: none;
}


/*---------pokedexDetail------- */
.fondo {
  background-image: url(./assets/imag/fondo.png);
}

.containerDetail {

  position: absolute;
  width: 1116px;
  height: 900px;
  left: 162px;
  top: 220px;
  border-top: 160px solid #7EC6C5;

  background: #FFFFFF;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

}

.id {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  align-items: center;
  color: #416460;
  padding: 15px;

}

.titleDetail {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  align-items: center;
  color: #416460;

}

.imagDetail {
  position: relative;
  top: -3px;



}


/*-----------------*/
.App {
  background-image: url(./assets/imag/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.containerHeader {
  background: red;
  border-bottom: 30px solid #000;
}



.inputPokede{
  width: 622px;
  height: 68px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  font-size: 23px;
}

.butoonPokedex{ position: absolute;
  width: 209.21px;
  height: 68px;
  color: aliceblue;
  border-radius: 3px;
  cursor: pointer;
  background: #D93F3F; }

  .typepokedex{
   
    width: 622px;
    height: 68px;
    background: #fffffff8;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    font-size: 23px;
  }