* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

/* loading */

.loading {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 15rem;
  left: 30rem;
}

.picachu {
  width: 100%;
}

.Dowload {
  text-align: center;
  font-size: 3rem;

}


/* home */

.textPokedex {
  display: flex;
  justify-content: center;
}



.title {
  text-align: center;
  color: #FE1936;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  padding: 0px;
}

.phrase {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}

.contenedor-input {
  position: absolute;
  height: 123.18px;
  top: 580px;
  background: #DD1A1A;
  border-bottom: 30px solid #000;
  width: 100vw;
}



/* Pokemon card*/

.welcom {
  color: #ffffff;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 00;
  font-size: 40px;
  line-height: 61px;
  padding: 0px;
}

.containerGeneral2 {
  text-align: center;
  padding: 10px;

}

.inputPokede {
  text-align: center;
  width: 622px;
  height: 68px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  font-size: 23px;
}


.butoonPokedex {
  position: absolute;
  font-size: 20px;
  width: 209.21px;
  height: 68px;
  color: aliceblue;
  border-radius: 3px;
  cursor: pointer;
  background: #D93F3F;
}

.Containergeneralpokedex {
  /* background: #D93F3F; */
  border: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;


}




.typepokedex {

  width: 622px;
  height: 68px;
  background: #fffffff8;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  font-size: 23px;
}


.ulpokedex {
  text-align: center;
  list-style: none;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  justify-content: center;
}


/*
---------------------------
*/

.card {
  width: 250px;
  height: 300px;
  background: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  padding: 1em;
  margin-bottom: 20px;
  border-radius: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.imag {
  width: 50%;
  margin: 0 auto;


}
.fighting{
  background-color: #84086b;
}
.poison{
  background-color: #7a4e71;
}

.rock{
  background-color: #8d9cc1;
}


.grass {
  background-color: #48D0B0;
}

.fire {
  background-color: #FB6C6C;
}

.water {
  background-color: #1e8cc8;
}

.ghost{
  background-color: #aec81e;
}

.electric{
  background-color: #120c7e;
}

.ice{
  background-color: #73e0e3;
}


.dragon{
  background-color: #e30a0a; 
}
.dark{
  background-color: #323522;
}
.fairy{
  background-color: #04a2f7;
}
.psychic{
  background-color: #48f0f0;
}

.steel{
  background-color: #984591;
}

/*---------pokedexDetail------- */


.containerDetail {
  justify-items: center;
  align-items: center;
  position: absolute;
  width: 1116px;
  margin-top: -15rem;
  left: 162px;
  top: 220px;
  border-top: 160px solid #D93F3F;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

}

.id {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  align-items: center;
  color: #416460;
  padding: 15px;

}

.titleDetail {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  align-items: center;
  color: #416460;

}

.imagcontainer {

  margin: 0 auto;
}

.imagDetail {
  text-align: center;


}

.weigth {
  font-size: 35px;
  padding: 34px;
  text-align: center;

}

.container_progreso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.barra {
  width: 350px;
  height: 20px;
  background: rgb(201, 29, 29);
  border-radius: 10px;
}



.progreso {

  height: 100%;
  background-color: #0b0c0c;
  border-radius: 10px;
}



/*-----------------*/
.App {
  background-image: url(./assets/imag/4872553.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}



.containerInputgeneral {
  background: #ffffff;

}


/*  inpuName */

.containerInputName {
  width: 80%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.input {
  text-align: center;
  width: 622px;
  height: 68px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  font-size: 23px;

}

.button-input {
  width: 209.21px;
  height: 68px;
  color: aliceblue;
  border-radius: 3px;
  cursor: pointer;
  background: #D93F3F;

}





/* ---------------*/









.butonprogres {
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  height: 290px;
  margin-top: 10rem;


}

.butonback {
  background: #D93F3F;

  font-size: 2rem;
  padding: 15px;

  border-radius: 5px;

}

.butoninit {
  font-size: 2rem;
  padding: 15px;
  border-radius: 5px;
}


.containerbuttonFooter {
  text-align: center;
  margin-top: -40px;

  

}

.pagination_numbers {
  font-size: 30px;
  background: #D93F3F;
  color: #FFFFFF;
}

.btn-back {
  font-size: 30px;
  background: #D93F3F;
  color: #FFFFFF;
}

.btn-next {
  font-size: 30px;
  background: #D93F3F;
  color: #FFFFFF;
}



.chevron {
padding: 9px;
  font-size: 30px;
  color: #ff3d07;
}